@import '_variables';
:host {
  display: block;
  height: calc(100% - 100px);
  overflow-y: auto;
}

section {
  article {
    flex-grow: 1;
    .info { margin-bottom: 20px; }
    .shopping-cart-item {
      border-bottom: $grey-shade-light;
      padding: 20px 0;
      border-bottom: 1px $grey-shade-light solid;
      transition: background-color 0.15s ease-in-out;
      &:hover {
        background-color: rgba(204, 204, 204, .2);
        cursor: pointer;
      }
      img {
        padding: 0;
        outline: none;
      }
      .item-title-wrapper {
        // @include media-breakpoint-down(lg) { padding-bottom: 40px; }
        outline: none;
        h5 { text-transform: capitalize; }
      }
      .input-group {
        width: auto;
        .form-control {
          width: 40px;
          flex-grow: 0;
          background-color: transparent;
        }
        button {
          border: none;
          &:hover {
            background-color: $grey-shade-light;
            &[disabled] {
              cursor: not-allowed;
            }
            i { color: #fff; }
          }
        }
      }
      .item-price {
        font-size: 20px;
        font-weight: 700;
        color: #ed5153;
      }
      .delete-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: transparent;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $grey-shade-light;
          i { color: $grey-shade-2; }
        }
        &:focus { box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
      }
    }
    .total-price {
      color: $grey-shade-light;
      font-size: 25px;
      font-weight: 500;
      padding: 20px 0;
      span {
        color: $lightspeed-primary-color;
        font-weight: 800;
      }
    }
  }
  i {
    font-size: 16px;
    color: $grey-shade-3;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
