<main class="container d-flex flex-column">
  <h1>Shopping cart</h1>
  <section class="d-flex">
    <article class="container flex-column">
      <ng-container *ngIf="(items | inCartItems) as resultArray">
        <div class="shopping-cart-item row align-items-center" *ngFor="let item of resultArray">
          <img [routerLink]="['/detail', item._id]" class="col-lg-1 col-2" src={{item?.image}} alt="item?.title">

          <div class="d-flex flex-lg-row flex-column align-self-stretch align-items-center justify-content-lg-start justify-content-between col-lg-10 col-9 row">
            <div class="item-title-wrapper d-flex align-self-stretch align-items-center col-lg-8" [routerLink]="['/detail', item._id]">
              <h5>{{item?.title}}</h5>
            </div>
            <div class="d-flex align-items-center justify-content-lg-around justify-content-between col-lg-4 row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button (click)="decrementItem(item)" class="btn btn-outline-secondary" type="button" id="button-addon1">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <input type="number" (input)="this.onQuantityChange($event.target, item)" class="form-control" placeholder="" value="{{item.quantity}}"
                  aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button [disabled]="item.stock.remaining === 0" (click)="incrementItem(item)" class="btn btn-outline-secondary" type="button"
                    id="button-addon2">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <span class="item-price">${{item.price | cartItemPrice: item.quantity}}</span>
            </div>
          </div>
          <div class=" col-1">
            <button (click)="removeItem(item)" class="delete-item d-flex align-items-center justify-content-center">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="info" *ngIf="(items | inCartItems).length == 0"> Your Shopping cart is empty</div>
        <div class="total-price text-right" *ngIf="(items | inCartItems).length > 0">Total :
          <span>${{resultArray | cartTotal}}</span>
        </div>
      </ng-container>
    </article>
  </section>
  <ng-container *ngIf="(items | inCartItems).length != 0">
    <checkout-form></checkout-form>
  </ng-container>
</main>
