$lightspeed-primary-color: #ed5153;
$lightspeed-secondary-color: #dc3032;
$grey-shade-1: #40424a;
$grey-shade-2: #545861;
$grey-shade-3: #8d8f97;
$grey-shade-light: #ccc;
$dark-1: #171717;
%global-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  background-color: $lightspeed-primary-color; // border-color: #ed5153;
  border: none;
  color: #fff;
  outline: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #dc3032;
    border-color: rgb(220, 48, 50);
    &[disabled] {
      cursor: not-allowed;
    }
  }
  &:focus {
    box-shadow: none;
  }
  &:not([disabled]):active {
    box-shadow: 0 0 0 0.2rem rgba(237, 81, 83, 1);
  }
}

@mixin linearGradient {
  // background-color: $grey-shade-1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$grey-shade-1+0,545861+100 */
  background: $grey-shade-1;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, $grey-shade-1 0%, $grey-shade-2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $grey-shade-1 0%, $grey-shade-2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $grey-shade-1 0%, $grey-shade-2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey-shade-1', endColorstr='$grey-shade-2', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
