<main class="wrapper container-fluid">
  <section class="container">
    <h1>Store</h1>
    <div class="d-flex justify-content-center flex-wrap">
      <store-item *ngFor="let item of items" [item]="item"></store-item>
    </div>
  </section>
</main>
