@import '_variables';
.shopping-cart-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  top: auto;
  &::before {
    content: '';
    height: 65px;
    width: 65px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.active {
    .package-drop { animation: fall cubic-bezier(0.6, 0.04, 0.98, 0.335) .3s, opacity ease .3s; }
    .shop { animation: bump ease .2s .4s;}
    &::after { animation: marker ease .2s .4s; }
    &::before { animation: ripple ease .3s .4s; }
  }
  &.marked {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      width: 15px;
      height: 15px;
      background-color: $lightspeed-primary-color;
      border: 2px solid #fff;
      border-radius: 50%;
      z-index: 100;
    }
  }
  .package-drop {
    color: $lightspeed-primary-color;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    transform: translateY(-100px);
    opacity: 0;
    i {
      font-size: 18px;
      color: $lightspeed-secondary-color;
    }
  }
  .shop {
    @extend %global-button;
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
  }
}

@keyframes ripple {
  0% {
    border: 4px solid $lightspeed-secondary-color;
    visibility: visible;
    opacity: 1;
  }
  100% {
    border: 4px solid $lightspeed-secondary-color;
    opacity: 0;
    width: 120px;
    height: 120px;
  }
}

@keyframes fall {
  0% { opacity: 1; }
  100% {
    transform: translateY(0);
    transform: scale(2);
    opacity: 1;
  }
}

@keyframes bump {
  50% {
    height: 58px;
    width: 62px;
    transform: translateY(20px);
  }
}

@keyframes marker {
  50% { transform: translateY(20px); }
}
