<div class="shopping-cart-wrapper">
  <button [routerLink]="'/cart'" class="btn shop d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top"
    title="shopping-cart">
    <i class="fas fa-shopping-cart"></i>
  </button>
  <div class="package-drop d-flex align-items-center justify-content-center">
    <i class="fas fa-box"></i>
  </div>
</div>
