<main class="container d-flex flex-column align-items-center justify-content-center">
  <i class="fas fa-sad-tear"></i>
  <h1>404 ERROR</h1>
  <h2>Sorry, The Page was not Found</h2>
  <button [routerLink]="['/home']">Back to home</button>
</main>
