@import '_variables';
:host {
  display: flex;
  height: calc(100% - 100px);
  background-color: #ed5153;
}

main {
  i,
  h1,
  h2 {
    color: #fff;
  }
  i {
    font-size: 200px;
  }
  h1 {
    padding-bottom: 5px;
    font-size: 50px;
  }
  h2 {
    padding-bottom: 80px;
  }
  button {
    @extend %global-button;
    width: 200px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    flex-shrink: 0;
    height: 50px;
    border: 4px solid #fff;
  }
}
