@import '_variables';
:host { display: flex; }

.card {
  margin: 10px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .15s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .card-img-top {
    background-color: grey;
    img {
      border-radius: 50%;
      margin: 20px 0;
    }
  }
  .store-item-add {
    position: absolute;
    top: 122px;
    right: 10px;
    z-index: 2;
    .btn {
      @extend %global-button;
      width: 40px;
      height: 40px;
    }
    .plus1 {
      position: absolute;
      top: 0
    }
  }
  .card-body {
    position: relative;
    .card-title { text-transform: capitalize; }
    .card-text {
      font-size: 20px;
      font-weight: 700;
      color: #ed5153;
      margin: 0;
    }
    i { font-size: inherit; }
  }
}
