<div class="card" style="width: 15rem;">
  <div [routerLink]="['/detail', item._id]" class="card-img-top d-flex justify-content-center">
    <img [src]=item.image alt="item.title">
  </div>
  <div class="store-item-add" #parent>
    <button [disabled]="item.stock.remaining === 0" (click)="this.addItemToCart(item, parent)" class="btn d-flex align-items-center justify-content-center">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div [routerLink]="['/detail', item._id]" class="card-body d-flex flex-column justify-content-between">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text text-right">{{item.price}}</p>
  </div>
</div>
