@import '_variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
header {
  background-color: $lightspeed-primary-color;
  color: #fff;
  button {
    @extend %global-button;
    i { font-size: 30px; }
  }
  .ls-logo {
    flex-grow: 1;
    margin: 0 20px;
    a {
      svg.logo-primary {
        max-width: 190px;
        @include media-breakpoint-down(md) { max-width: 170px; }
        height: 100px;
        .logo-flame { fill: #fff; }
        .logo-text { fill: #fff; }
      }
    }
  }
  .ls-icons {
    justify-self: end;
    i {
      color: #fff;
      font-size: 25px;
    }
  }
}
