@import '_variables';
:host {
  display: flex;
  height: calc(100% - 100px);
  background-color: #ed5153;
}

main {
  i,h1,h2 { color: #fff; }
  i {
    &.fa-thumbs-up { font-size: 200px; }
    &.fa-truck {
      font-size: 50px;
      padding-bottom: 50px;
      -webkit-animation: move .4s infinite linear;
      -moz-animation: move .4s infinite linear;
      -o-animation: move .4s infinite linear;
      animation: move .4s infinite linear;
    }
  }
  h1 { padding-bottom: 5px; }
  h2 { padding-bottom: 50px; }
  button {
    @extend %global-button;
    width: 200px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    flex-shrink: 0;
    height: 50px;
    border: 4px solid #fff;
  }
}

@keyframes move {
  50% {
    transform: translateY(-5px);
  }
}
