<main class="container d-flex flex-column align-items-center justify-content-center">
  <i class="fas fa-thumbs-up"></i>
  <h1>Thanks for your purshases...</h1>
  <h2>... you will be delivered soon !</h2>
  <i class="fas fa-truck"></i>
  <button [routerLink]="['/home']">Back to home</button>
</main>
