@import '_variables';
@import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/scss/mixins/_breakpoints.scss";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

i {
  color: #fff;
  font-size: 25px;
}

h1 {
  padding: 30px 0;
}


.spinner {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: rotation .4s infinite linear;
  -moz-animation: rotation .4s infinite linear;
  -o-animation: rotation .4s infinite linear;
  animation: rotation .4s infinite linear;
  border-left: 4px solid rgba(256, 256, 256, .15);
  border-right: 4px solid rgba(256, 256, 256, .15);
  border-bottom: 4px solid rgba(256, 256, 256, .15);
  border-top: 4px solid rgba(256, 256, 256, .8);
  border-radius: 100%;
  display: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}