<main class="container d-flex flex-column">
  <h1>Detail</h1>
  <section class="d-flex">
    <aside>
      <img src={{item?.image}} alt="item?.title">
    </aside>
    <article>
      <div class="detail-wrapper d-flex justify-content-between align-items-center">
        <h2 class="detail-title">{{item?.title}}</h2>
        <h5>
          <span class="detail-remain d-none d-md-inline-block">Remaining Stock</span>
          <span class="detail-stock badge badge-secondary">{{item?.stock?.remaining}}</span>
        </h5>
      </div>
      <h3 class="detail-price">{{item?.price}}</h3>
      <div class="detail-desc">{{item?.description}}</div>
      <button [disabled]="item?.stock?.remaining === 0" (click)="this.addItemToCart(item)" class="btn detail-add-cart">Add to cart</button>
    </article>
  </section>

</main>
