@import '_variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
  display: block;
  height: calc(100% - 106px);
  overflow-y: auto;
}

main {
  height: 100%;
  section {
    flex-grow: 1;
    aside {
      flex: 1 1;
      margin-bottom: 30px;
    }
    article {
      position: relative;
      flex: 1 1;
      flex-grow: 2;
      .detail-title {
        text-transform: capitalize;
        margin-bottom: 20px;
        &::after {
          content: '';
          display: block;
          width: 50px;
          border: $lightspeed-primary-color 2px solid;
          margin-top: 5px;
        }
      }
      .detail-price {
        color: $lightspeed-primary-color;
        margin-bottom: 20px;
      }
      .detail-desc { margin: 40px 0; }
      .detail-add-cart {
        @extend %global-button;
        width: 200px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
        flex-shrink: 0;
        height: 50px;
      }
      .detail-remain {
        font-size: 16px;
        margin-right: 10px;
      }
      h5 {
        color: $grey-shade-2;
        .detail-stock {
          background-color: $grey-shade-3;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  section { flex-direction: column; }
}
