@import '_variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
  align-self: center;
  @include media-breakpoint-up(md) { width: 50%; }
}

section {
  &.checkout {
    @include linearGradient;
    @include media-breakpoint-down(lg) { padding: 20px; }
    @include media-breakpoint-down(md) { width: 100%; }
    padding: 4rem;
    .card-type-item {
      @extend %global-button;
      flex-grow: 1;
      margin: 0 40px;
      @include media-breakpoint-down(md) { margin: 0 20px }
      border-radius: 4px;
      transition: transform 0.1s ease;
      background-color: $grey-shade-1;
      &:active { transform: scale(1.8); }
      &:hover { background-color: $lightspeed-primary-color; }
      &.selected {
        transform: scale(1.6); // background-color: $lightspeed-primary-color;
        background-color: $grey-shade-light;
      }
    }
    h2 {
      color: #fff;
      margin-bottom: 20px;
    }
    h6 {
      color: $grey-shade-light;
      &:first-of-type {
        margin-bottom: 40px;
      }
    }
    form {
      .input-wrapper {
        position: relative;
        margin: 40px 0;
        &:last-of-type { height: 50px; }
        input {
          outline: none;
          background: none;
          border: none;
          border-bottom: 2px #ccc solid;
          border-radius: 2px;
          padding: 5px 10px;
          z-index: 1;
          color: #fff;
          height: 40px;
        }
        input[name~=card-name]:focus+label[for~=card-name],
        input[name~=cn]:focus+label[for~=cn],
        input[name~=date-m]:focus+label[for~=date-m],
        input[name~=date-y]:focus+label[for~=date-y],
        input[name~=cvv]:focus+label[for~=cvv],
        input:not(:focus):valid+label,
        input.not-empty+label {
          font-size: 14px;
          opacity: 1;
          top: -18px;
        }
        label {
          position: absolute;
          top: 5px;
          left: 5px;
          pointer-events: none; // font-size: 16px;
          font-weight: 600;
          transition: 0.2s ease all;
          color: #ccc;
        }
        small { color: #fff; }
      }
      .card-detail {
        .label-for-date { margin-left: 5px; }
        .input-wrapper {
          width: 80px;
          margin: 0 10px;
          .input-date-m {
            white-space: nowrap;
          }
        }
      }
    }
    button.frm-submit {
      background-color: $lightspeed-primary-color;
      border: none;
      font-weight: 600;
      padding: 5px;
      width: 200px;
      border-radius: 40px;
      outline: none;
      cursor: pointer;
      color: #fff;
      height: 100%;
      position: absolute; // z-index: 3;
    }
  }
  i {
    font-size: 16px;
    color: $grey-shade-3;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
