<section class="checkout jumbotron">
  <h2>Card details</h2>
  <h6>Card type</h6>
  <div class="card-type-container d-flex align-items-center justify-content-between">
    <button id="visa" class="card-type-item d-flex justify-content-center" [class.selected]="this.isSelected(visa.id)" (click)="this.setElmSelectedCartType(visa)" #visa>
      <img src="../../../assets/svg/visa.svg" alt="visa">
    </button>
    <button id="mastercard" class="card-type-item d-flex justify-content-center" [class.selected]="this.isSelected(mastercard.id)" (click)="this.setElmSelectedCartType(mastercard)" #mastercard>
      <img src="../../../assets/svg/mastercard.svg" alt="mastercard" >
    </button>
    <button id="paypal" class="card-type-item d-flex justify-content-center" [class.selected]="this.isSelected(paypal.id)" (click)="this.setElmSelectedCartType(paypal)" #paypal>
      <img src="../../../assets/svg/paypal.svg" alt="paypal">
    </button>
  </div>

  <form id="frm-card" class="container" onsubmit="return false;" #form>
    <div class="input-wrapper d-flex flex-column">
      <input type="text" name="card-name" id="card-name" required autocomplete="off">
      <label for="card-name">Name on Card</label>
    </div>
    <div class="input-wrapper d-flex flex-column">
      <input type="number" name="cn" id="cn" required autocomplete="off" min="1000000000000000" max="9999999999999999" (input)="this.onInputChange($event.target)">
      <label for="cn">Card Number</label>
    </div>
    <div class="card-detail">
      <h6 class="label-for-date">Expiration date</h6>
      <div class=" d-flex justify-content-center ">
        <div class="input-wrapper d-flex flex-column">
          <input type="number" name="date-m" id="date-m" required autocomplete="off" min="1" max="12" (input)="this.onInputChange($event.target)">
          <label class="input-date-m" for="date-m">mm</label>
        </div>
        <div class="input-wrapper d-flex flex-column">
          <input type="number" name="date-y" id="date-y" required autocomplete="off" min="2018" max="2100" (input)="this.onInputChange($event.target)">
          <label class="input-date-y" for="date-y">yyyy</label>
        </div>
        <div class="input-wrapper d-flex flex-column">
          <input type="number" name="cvv" id="cvv" required autocomplete="off" min="100" max="999" (input)="this.onInputChange($event.target)">
          <label for="cvv">CVV</label>
        </div>
      </div>
    </div>
    <div class="input-wrapper d-flex justify-content-center align-items-center">
      <button (click)="this.initTimeline(form)" class="frm-submit">
        <span class="btn-label">Checkout</span>
        <div class="spinner"></div>
      </button>
    </div>
  </form>
</section>